p,
li,
ul {
    font-size: 10px;
    line-height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

code {
    font-size: 7px;
    line-height: 100%;
}

table {
    font-size: 8px;
    line-height: 100%;
}

h1 {
    font-size: 14px;
}