li,
ul {
    font-size: 10px;
    line-height: 100%;
    margin-top: 5px;
    margin-bottom: 3px;
}

p {
    font-size: 10px;
    line-height: 135%;
    margin-top: 9px;
    margin-bottom: 7px;
}

strong {
    line-height: 100%;
}

code {
    font-size: 7px;
    line-height: 100%;
}

table {
    font-size: 8px;
    line-height: 100%;
}

h1 {
    font-size: 14px;
}

h2 {
    font-size: 12px;
}

.hljs {
    padding: 0;
    margin-top: 6px;
    margin-bottom: 6px;
}