body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li,
ul {
    font-size: 10px;
    line-height: 100%;
    margin-top: 5px;
    margin-bottom: 3px;
}

p {
    font-size: 10px;
    line-height: 135%;
    margin-top: 9px;
    margin-bottom: 7px;
    text-align: justify;
}

strong {
    line-height: 100%;
}

code {
    font-family: 'Courier New', Courier, monospace;
    line-height: 135%;
    font-size: 8px;
}

table {
    font-size: 8px;
    line-height: 100%;
}

h1 {
    font-size: 14px;
    border-bottom-width: 0px;
}

h2 {
    font-size: 12px;
}

.hljs {
    padding: 0;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #ffffff;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
    border: 0px;
}


pre:not(.hljs),
pre.hljs code>div {
    padding: 1px;
}

hr {
    border-bottom: 1px solid;
}

blockquote:has(ul) {
    background-color: #d15555;
    margin-left: 12px;
    font-size: 12px;
}

blockquote p {
    background-color: #ffffff;
}

blockquote {
    border-left-style: none;
    background-color: #ffffff;
    margin-left: 36px;
    font-size: 10px;
}

ul {
    list-style-type: none;
    margin-left: 10px;
    padding-left: 0px;
}