---
---

@import "{{ site.theme }}";

/* https://github.com/pages-themes/time-machine?tab=readme-ov-file */

body { 
    font-family: Georgia, serif;
}

a {
    color: #4479b6;
}

.download-bar a.code {
    background-image: none;
}

code, kbd, pre, samp {
    font-size: 0.9em;
}

pre.lines {
    visibility: hidden;
}

.markdown-body pre {
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: none;
	display: flex;
	justify-content: center;    
}

.page {
    border-top: 1px solid #999999;
}

.markdown-body blockquote:before {
    font-size: 75px;
}

.markdown-body blockquote {
    font-size: 13px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 2px 20px;
}

h1 {
    text-align: center;    
}

.markdown-body table {
    width: inherit;
    margin-left: 0px;
    margin-right: 0px;
}

.markdown-body td:first-child, .markdown-body th:first-child {
    width: inherit;
    padding-left: 20px;
}

.markdown-body tbody {
    background-color: inherit;
}

.markdown-body li {
	margin-bottom: 0px;
}

.markdown-body ul {
	margin-bottom: 10px;
}


/* IMAGE ZOOM 
    see https://www.exeideas.com/2022/09/image-zoom-in-popup-on-click.html
*/

.markdown-body img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}
    
.markdown-body img:hover {opacity: 0.9; scale: 1.1; }
    
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); */ /* Fallback color */
    /* background-color: rgba(0,0,0,0.9); */ /* Black w/ opacity */
}
    
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 75%;
    //max-width: 75%;
}
    
/* Caption of Modal Image */
#modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
    
/* Add Animation */
.modal-content, #modal-caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
    
.out {
    animation-name: zoom-out;
    animation-duration: 0.6s;
}
    
 @-webkit-keyframes zoom {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}
    
 @keyframes zoom {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}
    
 @keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}
    
   
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}