---
---

@import "{{ site.theme }}";

body { 
    font-family: Georgia, serif;
}

.download-bar a.code {
    background-image: none;
}

pre.line {
    visibility: hidden;
}

.markdown-body pre {
    color: #000000;
    background-color: None;
}