---
---

@import "{{ site.theme }}";

/* https://github.com/pages-themes/time-machine?tab=readme-ov-file */

body { 
    font-family: Georgia, serif;
}

a {
    color: #4479b6;
}

.download-bar a.code {
    background-image: none;
}

code, kbd, pre, samp {
    font-size: 0.9em;
}

pre.lines {
    visibility: hidden;
}

.markdown-body pre {
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: none;
}

.page {
    border-top: 1px solid #999999;
}

.markdown-body blockquote:before {
    font-size: 75px;
}

.markdown-body blockquote {
    font-size: 13px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 2px 20px;
}

h1 {
    text-align: center;    
}

.markdown-body table {
    width: inherit;
    margin-left: 0px;
    margin-right: 0px;
}

.markdown-body td:first-child, .markdown-body th:first-child {
    width: inherit;
    padding-left: 20px;
}

.markdown-body tbody {
    background-color: inherit;
}
